.flagWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -5;
  pointer-events: none;
}

.flagSlider {
  display: flex;
  height: 100%;
  width: 200%; /* Two images side by side */
  background: #FF6620;
}

.flagImage {
  width: 50%; /* Each image takes half the container */
  height: 100%;
  object-fit: fill;
  flex-shrink: 0; /* Prevent shrinking */
}
.flagImage2 {
  width: 50%; /* Each image takes half the container */
  height: 100%;
  object-fit: fill;
  flex-shrink: 0; /* Prevent shrinking */
  border-left: 1px solid green;
}