.fontmontserrat {
  font-family: "Montserrat", sans-serif;
}

.fontopensans {
  font-family: "Open Sans", sans-serif;
}

.containerWidth {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .containerWidth {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

@media (min-width: 1024px) and (max-width: 1379px) {
  .containerWidth {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}

@media (min-width: 1370px) {
  .containerWidth {
    width: 1300px !important;
    margin: 0 auto !important;
    align-self: center !important;
  }
}
